{% extends "layout.html" %}

{% block title%}Login{% endblock %}

{% block content %}

<div class="row" >
    <div class="col-4">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="{{request.form.username}}"
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" value="{{request.form.password}} placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a href="{{ url_for('offer') }}"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button></a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </div>
</div>
{% endblock %}