{% extends "layout.html" %}

{% block title%}Offer{% endblock %}

{% block content %}
    <div class="container">

    <!-- Main content goes here -->
    <div class="row">
        <div class="col">
            <div class="jumbotron text-center">
                <h1 class="display-4"><i class="fas fa-check-circle fa-fw fa-lg text-primary"></i><br>
                    You have made an offer of £500,000 for 50% of 1 Digital Street.
                </h1>
            </div>
        </div>
    </div>

    <a href="buyer-pay-deposit">Next</a>

    </div>
{% endblock %}